
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /* Set flex-direction to column */
  }
  
  .filters {
    display: flex;
    justify-content: space-between; /* Place buttons evenly */
    margin-bottom: 30px;
    margin-top: 10px;
    padding: 25px 200px;
    border-bottom: 1px solid #ccc;
  }
  
  .filters button {
    width: 100px;
  }
  .dishes {
    width: 100%; /* Make sure dishes take full width */
  }

  .dishes-dish {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    list-style: none;
  }

  .button{
    background-color: orange;
    padding: 5px 10px;
    border-radius: 2px;
    text-decoration: none;
    color: white;
  }



  

  