<div class = "container">
    <div class = "filters">    
        <a class="button" (click)="filter='Hots'">Hots</a><!--Event binding-->
        <a class="button" (click)="filter='Sweet'">Sweets</a>
        <a class="button" (click)="filter='Lunch'">Lunch</a>
        <a class="button" (click)="filter='Salads'">Salads</a>
        <a class="button" (click)="filter='Snack'">Snack</a>
        <a class="button" (click)="filter=''">All</a>
    </div>

    <ul class="dishes">
        <li class="dishes-dish" *ngFor="let currentdish of getFilteredDishes()"><!--for loop for html components-->
            <app-dish [dish]="currentdish"></app-dish>
        </li>
    </ul>
</div>
