.button{
    color: white;
    width: 70px;
    height: 0p4x;
    background-color:  rgb(27, 168, 171); 
    border-radius: 2px;
    padding: 5px;
    text-decoration: none;
    margin-right: 10%;
}
.cta{
    color: white;
    width: 70px;
    height: 0p4x;
    background-color: rgb(10, 143, 68);
    border-radius: 2px;
    padding: 5px;
    text-decoration: none;
    margin-right: 10%;
}
img{
    height: 100px;
    width : 200px;
}